*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white ;
    position: absolute;
    mix-blend-mode: difference;
}

#title{
    font-size: 7vw;
    font-weight: 900;
}

