*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: moccasin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 55%;
    width: 450px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

#card #top{
    height: 50%;
    width: 100%;
}

#card #top img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center 80%;
    border-radius: 10px;
}

#card #content{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

#card button{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
}