*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 100px;
    text-align: center;
}

h2{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
#box{
    margin: 200px auto 0; 
    width: fit-content;
    padding: 10px 20px;
    margin-top: 200px;
    border: 1px solid white;
}

button{
    margin-top: 50px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
}

