*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

#stories{
    height: 120px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid gray;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#stories::-webkit-scrollbar{
    display: none;
}

.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position:center;
}