*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(93, 221, 226);
    padding: 20px 20px;
    display: flex;
    gap: 20px;
}

#box{
    height: 350px;
    width: 350px;
    background-color: bisque;
    position: relative;
    overflow: hidden;
}

#box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, black);
    bottom: -40%;
}

#box:hover .bottom{
    bottom: 0;
    transition: all ease 0.2s;
}

.bottom h2{
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#box:nth-child(3){
    clip-path: polygon(0 0, 33% 0, 84% 39%, 85% 100%, 0 98%, 0% 50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

