* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 10px;
}

#logo{
  font-size: 20px;
  font-weight: 800;
}

nav{
  display: flex;
  gap: 20px;
}

nav a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: black;
}

#btn a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

#btn #btn1{
  color: white;
  background: #000;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
}


.hero{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-grow: 1;
    padding: 10px;
    position: relative;
}

.hero .left{
    background-color: #fff;
    padding: 15px;
    
}

.hero .left #rect{
  height: 50px;
  width: 120px;
  background: #825555;
  display: inline-block;
  background: linear-gradient(blue,white);
  border-radius: 40px;
  border: none;
}

.hero .left h1{
  font-size: 80px;
  font-weight: 510;
  display: inline-block;
  padding: 10px 20px;
}

.hero #work{
  background: transparent;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 22%;
}

.hero #work1{
  background-color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  color: white;
  display: block;
  margin-bottom: 70px;
}

.hero .right{
    display: grid;
    grid-template-areas: "big big"
                         "small1 small2";
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 10px;
    background-color: #fff;
}

.hero .big {
  /* background-color: rgb(93, 66, 227); */
  background: url(https://images.unsplash.com/photo-1755498948221-b1b80c366c2e?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  grid-area: big;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hero .small1 {
  background: url(https://images.unsplash.com/photo-1759392658577-4324fb89b991?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  grid-area: small1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hero .small2 {
  background: url(https://images.unsplash.com/photo-1748723594345-a32f480a3db7?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  grid-area: small2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


footer {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



