*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: rgb(35, 3, 35);
    text-align: center;
    height: 200px;
    color: white;
    padding-top: 50px;
}

#size{
    font-size: 40px;
}

#content{
    padding-top: 20px;
}

#main{
    background-color: whitesmoke;
    margin-top: 30px;
    margin-left: 10em;
    margin-right: 10em;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    color: black;
}

#space{
    padding-top: 20px;
    color: black;
}

#education{
    background-color: aqua;
    height: 250px;
    margin-top: 30px;
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
    padding-top: 50px;
}

.info{
    background-color: white;
    margin-top: 15px;
    margin-left: 14em;
    margin-right: 14em;
    height: 40px;
    padding-top: 12px;
}

#skills{
    background-color: rgb(158, 158, 86);
    height: 350px;
    margin-top: 30px;
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
    padding-top: 50px;
}

.info-new{
    background-color: white;
    margin-top: 15px;
    margin-left: 14em;
    margin-right: 14em;
    height: 40px;
    padding-top: 12px;
}

#projects{
    background-color: aquamarine;
    height: 300px;
    margin-top: 30px;
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
    padding-top: 50px;
}

.task{
    background-color: white;
    margin-top: 15px;
    margin-left: 14em;
    margin-right: 14em;
    height: 40px;
    padding-top: 12px;
}

#contact{
    background-color: lightcyan;
    height: 300px;
    margin-top: 30px;
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
    padding-top: 50px;
}

.task-new{
    background-color: white;
    margin-top: 15px;
    margin-left: 16em;
    margin-right: 16em;
    height: 40px;
    padding-top: 12px;
}

#footer{
    background-color: rgb(35, 3, 35);
    text-align: center;
    color: white;
    height: 100px;
    margin-top: 30px;
    padding-top: 30px;
}