*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-template-rows: 1fr 350px;
    grid-template-areas: "box1 box2 box2 box2"
                         "box1 box3 box4 box5"
    ;
    gap: 10px;
    padding: 10px;
}

#box1{
    grid-area: box1;
    /* background-color: aliceblue; */
    background: url(https://plus.unsplash.com/premium_photo-1760428410219-8b764bb4562f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=764);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#box2{
    grid-area: box2;
    /* background-color: rgb(71, 117, 156); */
    background: url(https://images.unsplash.com/photo-1760293630917-2e4bef6e97f3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=735);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#box3{
    grid-area: box3;
    /* background-color: rgb(35, 185, 165); */
    background: url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1274);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#box4{
    grid-area: box4;
    /* background-color: rgb(152, 20, 48); */
    background: url(https://plus.unsplash.com/premium_photo-1673697239981-389164b7b87f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1144);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#box5{
    grid-area: box5;
    /* background-color: rgb(209, 223, 23); */
    background: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1174);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
