*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background: linear-gradient(90deg, #9bd3ed 0%, #f1d4bc 100%);
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

#logo{
    font-size: 22px;
    font-weight: bold;
    color: #2a2a2a;
    background: transparent;
}

#links{
    display: flex;
    gap: 32px;
    background: transparent;
}

#links a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background: transparent;
}

#app-btn{
    border: 1px solid #444;
    border-radius: 24px;
    padding: 8px 18px;
    background: transparent;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
}

button img{
    height: 20px;
    width: auto;
    object-fit: contain;
}

#main{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    /* background-color: #333; */
    background: transparent;
}

.stars {
    font-size: 35px;
    margin-bottom: 1rem;
    color: #ebde90;
    /* text-shadow: 0 0 5px rgba(255, 215, 0, 0.5); */
}

#main h1{
    color: white;
    font-size: 90px;
    text-align: left;
    padding: 8px 2px;
}

#inner{
    display: flex;
    justify-content: center;
    align-items: center;

}

#inner img{
    height: 800px;
}

#info-card {
    position: absolute;
    top: 40%;
    right: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

#info-card img {
    height: 50%;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

#info-card h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}

#info-card p {
    font-size: 14px;
    color: #444;
}