*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #0D0000;
    display: grid;
    grid-template-rows: 60px 1fr;
    position: relative;
}

header{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 10px;
}

nav{
    padding: 10px;
    display: flex;
    gap: 70px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
}

a:hover{
    background: linear-gradient(rgb(213, 202, 202),white);
    color: #0B0000;
    transition: all 0.2s ease;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section #section-left{
    display: grid;
    color: white;
}

section #section-right{
    color: white;
    background: url(https://i.pinimg.com/736x/61/97/ff/6197ffd026fdd7c11bd826929f652f99.jpg); 
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 42%;
    background-color: #0B0000;
}

#logo img{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 20%;
    top: 14%;
}


section #content{
    background-color: black;
}


#content{
    /* padding: 40px 20px; */
    margin: 40px;
    text-align: center;
}

#content p{
    font-size: 22px;
    padding: 10px;
}

button{
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 20px;
    margin-right: 10px;
}

button:hover{
    background: linear-gradient(white,wheat);
    transition: all 0.5s ease;
    cursor: pointer;
}
