* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;


    .view1{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-grow: 1;
        gap: 15px;
        padding: 10px;


        .top{
            border-radius: 15px;
            background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2cb2934d35c4b4c5b51da_studio-hero-p-1080.webp);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .bottom{
            border-radius: 15px;
            background-color: #1E1E1E;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 50px;


            #upper h3{
                font-size: 18px;
                font-weight: 200;
                color: white;
            }

            #lower h2{
                color: white;
                font-size: 65px;
                font-weight: 200;   
            }

            #lower-1 p{
                color: white;
                font-size: 20px;
                font-weight: 100;
                padding: 10px;
            }

            #lower-1 i{
                background-color: #1E1E1E;
                border-radius: 50%;
                padding: 8px;
                color: white;
                border: 0.5px solid rgb(164, 162, 162);
                font-weight: 100;
            }


        }
    }

    .view2{
        width: 100%;
        padding: 20px;
        // background-color: #1E1E1E;
        .top{
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }

        .bottom{
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            h3{
                font-size: 40px;
            }
        }
    }

    .view3{
        height: 90vh;  
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left{
            color: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: #1E1E1E;
            padding: 38px;

            .heading>h2{
                font-size: 4rem;
            }

            .para{
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size:  1.4em;
                line-height: 2;
                font-weight: 200;
            }

            h3{
                font-size: 35px;
            }

            
        }

        .right{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d42ed21efba1c98e866246_studio-philosophy-p-1080.webp);
            object-fit: cover;
            background-size: cover;
            background-position: center;
        }
    }

    .view4{
        height: 90vh;  
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "right left";


        .left{
            color: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: #1E1E1E;
            padding: 38px;
            grid-area: right;
            grid-column: 2;

            .heading>h2{
                font-size: 4rem;
            }

            .para{
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size:  1.3em;
                line-height: 2;
                font-weight: 200;
            }

            h3{
                font-size: 35px;
            }

            
        }

        .right{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdadb9a66a436b50ff_sutdio-values-p-1080.webp);
            object-fit: cover;
            background-size: cover;
            background-position: center;
            grid-area: left;
            grid-column: 1;
        }
    }

    .view5{
        width: 100%;
        padding: 28px;
        color: white;
        display: flex;
        justify-content: space-between;

        .info>h1{
            font-size: 30px;
            font-weight: 300;
        }

        .job>h3{
            font-size: 1.4rem;

            i{
                color: rgb(107, 103, 103);
                background-color: #1E1E1E;
                border: 0.5px solid rgb(180, 167, 167);
                padding: 8px;
                border-radius: 50%;
            }
        }
    }

    .view6{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        // justify-content: space-between;

        .card1{
            flex: 1; 
            min-width: 0;
            background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp);
            background-size: cover;
            background-position: center;
            aspect-ratio: 1/1;


            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            gap: 10px;


            .top{
                color: white;
                display: flex;
                gap: 10px;
                justify-content: flex-end;

                .icon{
                    width: fit-content;
                    border: 1px solid white;
                    padding: 8px 10px;
                    border-radius: 50%;
                }
            }

            .bottom {
                background-color: #1e1e1e47;
                backdrop-filter: blur(10px);
                display: flex;
                justify-content: space-between;
                padding: 15px;
                color: white;
            }
        }

        .card2{
            flex: 1; 
            min-width: 0;
            background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-800.webp);
            background-size: cover;
            background-position: center;
            aspect-ratio: 1/1;


            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            gap: 10px;


            .top{
                color: white;
                display: flex;
                gap: 10px;
                justify-content: flex-end;

                .icon{
                    width: fit-content;
                    border: 1px solid white;
                    padding: 8px 10px;
                    border-radius: 50%;
                }
            }

            .bottom {
                background-color: #1e1e1e47;
                backdrop-filter: blur(10px);
                display: flex;
                justify-content: space-between;
                padding: 15px;
                color: white;
            }
        }

        .card3{
            flex: 1; 
            min-width: 0;
            background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-800.webp);
            background-size: cover;
            background-position: center;
            aspect-ratio: 1/1;


            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            gap: 10px;


            .top{
                color: white;
                display: flex;
                gap: 10px;
                justify-content: flex-end;

                .icon{
                    width: fit-content;
                    border: 1px solid white;
                    padding: 8px 10px;
                    border-radius: 50%;
                }
            }

            .bottom {
                background-color: #1e1e1e47;
                backdrop-filter: blur(10px);
                display: flex;
                justify-content: space-between;
                padding: 15px;
                color: white;
            }
        }

    }

    .view7{
        height: 70vh;  
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // padding: 40rem;

        .left{
            color: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: #1E1E1E;
            padding: 70px;
            grid-column: 2;
            border-radius: 10px;

            .heading>h1{
                font-size: 4rem;
            }
            
        }

        .right{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d42ed21efba1c98e866246_studio-philosophy-p-1080.webp);
            object-fit: cover;
            background-size: cover;
            background-position: center;
            grid-row: 1;
        }
    }

    .view8{
        width: 100%;
        background-color: #CEBD63;
        padding: 20px 20px;
        height: 35vh;
        position: relative;

        small{
            font-size: 23px;
        }

        .divide{
            display: flex;
            justify-content: space-between;
            padding: 20px;

            .para1{
                font-size: 50px;
                text-align: left;
            }

            button{
                border: none;
                background-color: #000;
                padding: 10px 20px;
                color: white;
                position: absolute;
                left: 80%;
                top: 72%;

            }
        }
    }
}
