*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider{
    text-align: center;
}

#slider img{
    width: 600px;
    border-radius: 12px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

button:active{
    transform: scale(0.95);
}