*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    position: relative;
}

body{
    background: black;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
}

#main img{
    height: 20px;
}

#cursor{
    position: absolute;
    transform: translate(-50%,-50%);
}