*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(32, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    background-color: red;
}

button:active{
    scale: 0.95;
    background-color: aqua;
}
