* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


#box {
    height: 100px;
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 500;
    background-color: lightcyan;
}

#box1 {
    margin-top: 20px;
    height: 100px;
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lightseagreen;
    font-size: 30px;
    font-weight: 600;
}

button {
    margin-top: 20px;
    background-color: white;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    scale: 0.90;
    cursor: pointer;
    background-color: red;
}