* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.view1 {
    height: 100vh;
    background-color: rgb(37, 36, 36);
    position: relative;
    overflow: hidden;

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center -10%;
        z-index: 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        position: relative;

        #logo {
            position: absolute;
            font-size: 1.4rem;
            color: rgb(122, 86, 86);
            left: 7%;
        }

        #content {
            display: flex;
            padding: 1rem 1rem;
            gap: 1.3rem;

            a {
                text-decoration: none;
                color: white;
            }

        }
    }
}