* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
}

section {
    height: 100vh;
    width: 350px;
    margin: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border-radius: 10px;
    background: #000;
    scrollbar-width: none;
}

section::-webkit-scrollbar {
    display: none;
}

.allreels {
    width: 100%;
    height: 100%;
}

.reel {
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    background: #111;
}

.reel img,
.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.reel .bottom {
    padding: 30px 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75)
    );
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.user img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user h2 {
    font-weight: 600;
    font-size: 18px;
}

.user button {
    background-color: transparent;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.bottom h3 {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 400;
}

.right {
    position: absolute;
    right: 10px;
    bottom: 20%;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

.right > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right i {
    font-size: 30px;
    margin-bottom: 5px;
}

.right h6 {
    font-size: 14px;
    font-weight: 500;
}
