* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    padding: 1.2rem 1rem;


    #nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        #nav-links {
            display: none;
            list-style: none;

            li {
                display: inline-block;
                margin-left: 2rem;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 1rem;
                    transition: 0.3s;

                    &:hover {
                        color: #66ccff;
                    }
                }
            }
        }


        #logo img {
            height: 45px;
        }

        #sider {
            display: block;
            font-size: 2rem;
            cursor: pointer;
        }

        #sider i {
            font-size: 2rem;
        }
    }

    #view1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1rem;


        #box img {
            width: 100%;
            height: auto;
        }

        #content h2 {
            font-size: 2.5rem;
            font-weight: 900;
            text-align: center;
        }
    }

    #view2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1rem;
        // border-bottom: 1px solid lightgray;

        #content2 h3 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
        }
    }

    #view3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1.5rem;

        #community {
            border-top: 1.5px solid gray;
            padding: 3rem 0rem;

            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                text-align: left;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: gray;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #view4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1.5rem;

        #right img {
            width: 100%;
            height: auto;
        }

        #left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // padding: 1rem 0rem;

            h2 {
                color: gray;
                font-weight: 500;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            p {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.5;
                color: black;
            }

            #btn1 {
                width: 200px;
                text-align: center;
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: black;
                color: white;
                font-size: 0.8rem;
                cursor: pointer;
            }

            #btn2 {
                width: 200px;
                text-align: center;
                padding: 10px 20px;
                border: 2px solid black;
                border-radius: 50px;
                background-color: white;
                color: black;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    #view5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1.5rem;
        background: linear-gradient(#FFFFFE, #FEFEEE, #FCFCDA);

        #left img {
            width: 100%;
            height: auto;
        }

        #right {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                color: gray;
                font-weight: 500;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            p {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.5;
                color: black;
            }

            #btn1 {
                width: 200px;
                text-align: center;
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: #3535FF;
                color: white;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    #view6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1.5rem;

        #right img {
            width: 100%;
            height: auto;
        }

        #left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // padding: 1rem 0rem;

            h2 {
                color: gray;
                font-weight: 500;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            p {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.5;
                color: black;
            }

            #btn1 {
                width: 200px;
                text-align: center;
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: blue;
                color: white;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }

    #view7 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 1.5rem;
        background: linear-gradient(#FFFFFE, #FEFEEE, #FCFCDA);

        #left img {
            width: 100%;
            height: auto;
        }

        #right {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                color: gray;
                font-weight: 500;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            p {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.5;
                color: black;
            }

            #btn1 {
                width: 200px;
                text-align: center;
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: #3535FF;
                color: white;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    #view8 {
        background: url(https://himanshuaaithan.github.io/assignment-12/img/background.png);
        background-color: #050556;
        margin-top: 2rem;
        width: 100%;
        padding: 2rem 1rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
        }

        p {
            color: white;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
        }

        #btn1 {
            width: 200px;
            text-align: center;
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            background-color: white;
            color: black;
            font-size: 1.2rem;
            cursor: pointer;
        }


        #btn2 {
            width: 200px;
            text-align: center;
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            background-color: white;
            color: black;
            font-size: 1.2rem;
            cursor: pointer;
        }


    }

    #bottom1 {
        width: 100%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;

        #box1 {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1;
            }
        }

        #box2 {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1;
            }
        }

        #box3 {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1;
            }
        }
    }

    #bottom2 {
        width: 100%;
        padding: 1rem 1rem;
        text-align: center;

        i {
            font-size: 1.5rem;
        }
    }
}



@media (min-width: 1024px) {
    #view1 {
        display: flex;
        flex-direction: row !important;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #view1 #box img {
        height: 600px !important;
        width: 550px !important;
        object-fit: contain;
        object-position: left;
        display: inline-block;
    }

    #content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin-top: 8rem;
    }

    section#view1 div#content h2 {
        text-align: center !important;
        font-size: 4rem !important;
    }

}