@mixin flexColumn($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: fit-content;
    min-width: 400px;

    @include flexColumn(1.5rem);

    form {
        @include flexColumn(1rem);


        input,
        button {
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 2rem;
        }

        button {
            background-color: #bd0c23;
            color: whitesmoke;
            cursor: pointer;

            &:active{
                transform: scale(0.97);
            }
        }
    }

    .toggleAuthForm {
        color: blueviolet;
        cursor: pointer;
        text-decoration: none;
    }

}