
.button{
    background-color: rgba(255, 0, 0, 0.877);
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;

    border-radius: 0.5rem;
}