*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background: #fff;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
}

.nav{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    z-index: 333;
}

.logo-svg {
    width: 40px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.searchbar {
    flex: 1;
    display: flex;
    background: #e5e5e5;
    border-radius: 50px;
    border-left: 2px solid #ccc;
}

.input-wrapper {
    flex: 1;
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 600;
}

.close-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    color: #555;
    transform: translateY(-50%);
    display: none;
}

.searchdata {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 98%;
    transform: translateX(-50%);
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: none;
}

.pins-btn {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-left: 2px solid #ccc;
    cursor: pointer;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 24px;
    color: #666;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pic {
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
}

.posts .content .container {
    padding: 20px;
}

.container {
  padding-top: 3vh;
  width: 100%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
}
.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}

img:hover {
  opacity: 0.95;
}

.caption {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}
